[Desktop Entry]
Type=Application
Exec=MRW-TrackControl
Name[de]=MRW Stellwerk
Name[en]=MRW Track Control
Categories=Education;Game;Science;
Terminal=false
