Package: %PACKAGE%
Version: 2.0-%BUILD%
Section: system
Priority: optional
Architecture: %ARCH%
Depends: libqt5widgets5, libqt5serialbus5
Maintainer: Eisenbahnsteuerung <info@eisenbahnsteuerung.org>
Homepage: http://eisenbahnsteuerung.org/
Description: Next generation modelrailway control.

